<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Route</title>
</head>
<body>
    <h3>Edit your chat <%=chat._id %></h3>
    <p>This chat was sent from<i> <%=chat.from%></i> to <i><%=chat.to%></i></p>
    <form method="post" action="/chats/<%=chat._id%>?_method=put">
        <textarea name="msg" rows="10" cols="50"><%= chat.msg%></textarea>
        <br><br>
        <button>Save</button>
    </form>
           
</body>
</html>